{% extends 'main/layout/clean_layout.html' %}
 {% load static %}
{% block title%}Log in{% endblock %}
 
{% block content%}
<link rel="stylesheet" href="{% static 'main/css/login.css' %}">
<div class="d-flex align-items-center justify-content-center px-4" style="height: 80vh">
     <div style="max-width: 500px" class="w-100">
      <img src="{% static 'main/img/2.jpg' %}" alt="obrazek" class="obrazek">
         <h1 class="napis-welcome-back">Welcome Back!</h1>
         {% if messages %}
         <div class="alert alert-danger" role="alert">
           <ul class="mb-0">
             {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
             {% endfor %}
           </ul>
         </div>
         
         {% endif %}
         <form method="POST" action="/login">
             {% csrf_token %}
 
             <div class="mb-3">
               <label for="username" class="form-label">↓ Username ↓</label>
               <input type="text" class="form-control" id="username" name="username" aria-describedby="username" required placeholder="Enter your username...">
             </div>
 
             <div class="mb-3">
               <label for="password" class="form-label">↓ Password ↓</label>
               <input type="password" class="form-control" id="password" name="password" required placeholder="Enter your password...">
             </div>

             <button type="submit" class="przycisk-login">Log in</button>
           </form>
           <button class="przycisk-go-back" onclick="window.history.back()">← Go Back</button>


     </div>
 </div>
 
 {% endblock %}