{% extends 'main/layout/clean_layout.html' %}
{% load static %}

{% block title%}Register{% endblock %}

{% block content%}
<link rel="stylesheet" href="{% static 'main/css/register.css' %}">
<div class="d-flex align-items-center justify-content-center px-4" style="height: 100vh">
  <div style="max-width: 500px" class="w-100">
    <img src="{% static 'main/img/2.jpg' %}" alt="obrazek" class="obrazek">
    <h1 class="napis-register">Register</h1>
    <form method="POST" action="/register">
      {% csrf_token %}

      <div class="mb-3">
        <label for="username" class="form-label">↓ Username ↓</label>
        <input type="text" class="form-control" id="username" name="username" aria-describedby="username" required
          placeholder="Enter your username...">
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">↓ Email address ↓</label>
        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" required
          placeholder="Enter your email...">
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">↓ Password ↓</label>
        <input type="password" class="form-control" id="password" name="password" required
          placeholder="Enter your password...">
      </div>
      <div>
        <button type="submit" class="register-button">Register</button>
      </div>
    </form>
    <button class="przycisk-go-back" onclick="window.history.back()">← Go Back</button>

  </div>
</div>

{% endblock %}