{% extends 'main/layout/layout.html' %}
{% load static %} <!-- dodane 10.03-->

{% block title%}Homepage{% endblock %}
{% block styles %} <!-- dodane 10.03-->
<link rel="stylesheet" href="{% static 'main/css/inde.css' %}"> <!-- dodane 10.03-->
{% endblock %} <!-- dodane 10.03-->

{% block content%}

<div class="games_container">
    <div class="games">
        <h2>Mewgenics</h2>
        <div class="box">
            <img class="images" src="{% static 'main/img/mew.png' %}" alt="Mewgenics">
            <h1> 29,99 USD </h1>
        </div>
    </div>


    <div class="games">
        <h2>Alice: Madness Returns</h2>
        <div class="box">
            <img class="images" src="{% static 'main/img/alice.png' %}" alt="Alice: Madness Returns">
            <h1> 9,99 USD </h1>
        </div>
    </div>



    <div class="games">
        <h2>Portal 2</h2>
        <div class="box">
            <img class="images" src="{% static 'main/img/portal.png' %}" alt="Portal 2">
            <h1> 9,99 USD </h1>
        </div>
    </div>


    <div class="games">
        <h2>MiSide</h2>
        <div class="box">
            <img class="images" src="{% static 'main/img/miside.png' %}" alt="MiSide">
            <h1> 14,99 USD </h1>
        </div>
    </div>


    <div class="games">
        <h2>PEAK</h2>
        <div class="box">
            <img class="images" src="{% static 'main/img/peak.png' %}" alt="PEAK">
            <h1> 7,99 USD </h1>
        </div>
    </div>
</div>
<div class="games_container">
    <div class="games">
        <h2>Danganronpa V3</h2>
        <div class="box">
            <img class="images" src="{% static 'main/img/daan.png' %}" alt="Danganronpa: Trigger Happy Havoc">
            <h1> 7,99 USD </h1>
        </div>
    </div>



    <div class="games">
        <h2>A Way Out</h2>
        <div class="box">
            <img class="images" src="{% static 'main/img/wayout.png' %}" alt="A Way Out">
            <h1> 29,99 USD </h1>
        </div>
    </div>


    <div class="games">
        <h2>Beholder</h2>
        <div class="box">
            <img class="images" src="{% static 'main/img/beholder.png' %}" alt="Beholder">
            <h1> 13,99 USD </h1>
        </div>
    </div>



    <div class="games">
        <h2>It Takes Two</h2>
        <div class="box">
            <img class="images" src="{% static 'main/img/ittakes.png' %}" alt="It Takes Two">
            <h1> 39,99 USD </h1>
        </div>
    </div>



    <div class="games">
        <h2>We Were Here</h2>
        <div class="box">
            <img class="images" src="{% static 'main/img/wewere.png' %}" alt="We Were Here">
            <h1> 1,99 USD </h1>
        </div>
    </div>
</div>




{% endblock %}