@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.mb-3 {
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.przycisk-login {
  display: flex;
  border-radius: 60px;
  background-color: green;
  margin: auto;
  color: white;
  font-family: 'Pacifico'

}

.napis-welcome-back {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Pacifico';


}

.obrazek {
  display: flex;
  height: 250px;
  width: 250px;
  align-items: center;
  justify-content: center;
  margin: auto;

}

.form-control {
  text-align: center;
  font-family: 'Pacifico';
}
